<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.nc.bc.dao.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.nc.bc.entity.Config">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="uploaddir" jdbcType="VARCHAR" property="uploaddir" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uploaddir
  </sql>
  <select id="getAllConfig" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bc_config
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bc_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bc_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yonyou.nc.bc.entity.Config">
    insert into bc_config (id, uploaddir)
    values (#{id,jdbcType=VARCHAR}, #{uploaddir,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yonyou.nc.bc.entity.Config">
    insert into bc_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uploaddir != null">
        uploaddir,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uploaddir != null">
        #{uploaddir,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yonyou.nc.bc.entity.Config">
    update bc_config
    <set>
      <if test="uploaddir != null">
        uploaddir = #{uploaddir,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yonyou.nc.bc.entity.Config">
    update bc_config
    set uploaddir = #{uploaddir,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>